.button {
    color: white;
    background-color: rgb(255, 0, 0);
    font-size: 14px;
    padding-inline: 1rem;
    padding-block: 0.4rem;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 8px;

    // display: inline-block;
}